/* Bootstrap icon */
/* App */

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  nav {
    padding: 30px;
    
  }
  
  nav a {
    font-weight: bold;
    color: #C0E9ED;
  }
  
  nav a.router-link-exact-active {
    color: #be2aa3;
  }

  .navbar {
    background-color: #FCE6D3;
  }
 .dropdown-menu {
    background-color: #FCE6D3;
    
 }
/* Universal selector*/

/* Custom variables */ 
::-webkit-scrollbar{
    display: none;
}
/* logo */ 
img {
    aspect-ratio: 1 ;
    object-fit: cover; /*change between cover and contain*/
    object-position: center;
    border-radius: 1rem;
}
img[alt='logo'] {
    width: 5rem ;
    border: 1px solid black;
}

/*wrapper*/
:is(.wrapper){
    
    background-color: #FCE6D3;
}
/*Fonts*/
.display-1 {
 font-family: "Playfair Display", serif;
}

/*About*/
.about-text {
    margin-bottom: 1rem;
    /* font-size: medium; */
  }

  .Bg {

    background-color: #fbb7c7;


  }
  .Bg h1 {

    font-family: "Playfair Display", serif;

  }

  @media only screen and (max-width:720px) {
 
    .Bg {

      flex-direction:column;
      
    } 
    :is(.wrapper){
       width:100%;
       overflow: hidden;
      background-color: #FCE6D3;
  }

  }
    @media (max-width: 900px) {
      .card {
        width: 100%; /* Full width on mobile */
        margin-bottom: 20px; /* Space between cards */
      }
    }
    
    .card-header {
      text-align: center; /* Center the content of card header */
    }
    
    .card-body {
      padding: 1rem;
      
    }


  


  
