/* Bootstrap icon */
/* App */

#app {
  font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #030303;
  }
  
  nav {
    padding: 30px;
    
  }
  
  nav a {
    font-weight: bold;
    color: #C0E9ED;
  }
  
  nav a.router-link-exact-active {
    color: #be2aa3;
  }

  .navbar {
    background: linear-gradient(90deg, #cdeddd, #c0e9ed, #fce6d3, #fad9d5, #fbb7c7);}
 .dropdown-menu {
  background: linear-gradient( #cdeddd, #c0e9ed, #fce6d3, #fad9d5, #fbb7c7);
    
 }
/* Universal selector*/

/* Custom variables */ 
::-webkit-scrollbar{
    display: none;
}
/* logo */ 
img {
    aspect-ratio: 1 ;
    object-fit: cover; /*change between cover and contain*/
    object-position: center;
    border-radius: 1rem;
}
img[alt='logo'] {
    width: 5rem ;
    border: 1px solid pink;
    cursor: pointer;
    background-color: transparent;
}

.btn:hover {
  background-color: rgb(251, 211, 217);
  color: white;
}

/*wrapper*/
:is(.wrapper){
    
  background: linear-gradient(90deg, #cdeddd, #c0e9ed, #fce6d3, #fad9d5, #fbb7c7);
}
/*Fonts*/
.display-1 {
 font-family: "Playfair Display", serif;
}

/*About*/
.about-text {
    margin-bottom: 1rem;
    /* font-size: medium; */
  }
  .Bg h1 {

    font-family: "Playfair Display", serif;

  }

  @media only screen and (max-width:720px) {
 
    .Bg {

      flex-direction:column;
      
    } 
    :is(.wrapper){
       width:100%;
       overflow: hidden;
      
  }

  /*animation media query*/

  @keyframes hop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0%);
      opacity: 1;
    }
    70% {
      transform: translateY(-5%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .hop-enter-active,
  .hop-leave-active {
    transition: all 2s ease;
  }

  img, #details {
    animation: hop 2s ease-in-out;
  }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #f4dde6; 
  }
  
  .card:hover .quote-text {
    color: #0c0c0c; 
  }
}


  
    @media (max-width: 900px) {
      .card {
        width: 100%; 
        margin-bottom: 20px;
      }
    }
    
    .card-header {
      text-align: center;
    }
    
    .card-body {
      padding: 1rem;
      
    }


  


  
